@import url(./normalize.css);
@import url(./reset.css);

*, *::before, *::after{
  box-sizing: border-box;
}

a{
  color: #000;
  text-decoration: none;
}

body {
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* 글꼴이 없다면 다음 글꼴을 가져다 쓴다. */

}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: auto;
  /* 마치 상자가 가운데정렬된것처럼 보인다. 상자의 크기가 커진거다 */
  /* flex는 컨테이너와 자식이 필요하다. auto로 간단하게 해결하자
  과일 자를 때 회칼 꺼낼 필요는 없다. */
}

.header {
  background: #fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px / 0 0 50px 50px;
  position: relative;
}

/* absolute는 상위 컨테이너 블록이 static이 아니거나 
transform이 translate가 있거나 
filter가 있거나 
다양한 이유로 그 블록을 기준삼는다. */
.logo{
  position: absolute;
  top: 45px;
  left: 60px;
}
.member{
  background-color: aqua;
  text-align: right;
  padding: 4px 0;
}

.member li{
  /* background-color: pink; */
  display: inline-block;
  /* inline은 inline 블럭 사이에 공백이 생긴다. */
}
.member a{
  background-color: coral;
  padding: 6px 0;
  display: inherit;
  /* display 상속도 된다. */
}
.divider{
  margin-right: 4px;
}

.visual {
  background: orange;
  height: 10vh;
}

.main {
  background: lightgreen;
  height: 50vh;
  display: flow-root;
  /* overflow: hidden; */
  padding: 0 15px;
}

.group{
  margin: 0 15px;
  float: left;
}
.group1{
  background-color: violet;
  width: 250px;
}
.group2{
  background-color: salmon;
  width: 380px;
}
.group3{
  background-color: gold;
  width: 190px;
  height: 100px;
}


.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}

.footer {
  background: gray;
}

.footer-inner {
  background: silver;
  height: 20vh;
}