@import url(./normalize.css);
@import url(./reset.css);

body {
  background: #ffc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* 글꼴이 없다면 다음 글꼴을 가져다 쓴다. */
  
}

.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: auto;
}

.header {
  background: pink;
  padding: 0 30px;
  box-sizing: border-box;
  /* 마치 상자가 가운데정렬된것처럼 보인다. 상자의 크기가 커진거다 */
  /* flex는 컨테이너와 자식이 필요하다. auto로 간단하게 해결하자
  과일 자를 때 회칼 꺼낼 필요는 없다. */
  height:10vh;
}

.visual {
  background: orange;
  height:10vh;
}

.main {
  background: lightgreen;
  height:50vh;
}

.slogan {
  background: skyblue;
  height:10vh;
}

.footer {
  background: gray;
}
.footer-inner {
  background: silver;
  height: 20vh;
}